<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.caro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OnePlayerActivity.OnePlayerActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOfflineActivity.TwoPlayersActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.MainOnlineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.HostRoomOnlineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.JoinRoomOnlineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.PlayOnlineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.ImageSelectorActivity"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.SettingsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".TwoPlayersOnlineActivity.Activity.ReplayActivity"
            android:launchMode="singleTop"/>

    </application>

</manifest>